webapps/smsc_lib/src/dtds/users.dtd

<!ELEMENT users (user+)>

<!ELEMENT user (role+)>
<!ATTLIST user
login CDATA #REQUIRED
password CDATA #REQUIRED
firstName CDATA #IMPLIED
lastName CDATA #IMPLIED
dept CDATA #IMPLIED
workPhone CDATA #IMPLIED
homePhone CDATA #IMPLIED
cellPhone CDATA #IMPLIED
email CDATA #IMPLIED
providerId CDATA "-1"
>

<!ELEMENT role EMPTY>
<!ATTLIST role
name CDATA #REQUIRED
>


