config/resourcemanager/locale_resources.dtd

<?xml encoding="ISO-8859-1"?>

<!ELEMENT locale_resources (settings*, resources*)>

<!ELEMENT settings (section*, param*)>
<!ELEMENT resources (section*, param*)>
<!ELEMENT section (section*, param*)>
<!ELEMENT param (#PCDATA)>

<!ATTLIST section  name CDATA #REQUIRED>
<!ATTLIST param    name CDATA #REQUIRED>
