ext_smes/smsxsme/soap/groupsend.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sibinco.ru/groupsend" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sibinco.ru/groupsend" xmlns:intf="http://sibinco.ru/groupsend" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sibinco.ru/groupsend" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendSms">
    <complexType>
     <sequence>
      <element name="groupName" type="xsd:string"/>
      <element name="owner" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
      <element name="express" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSmsResponse">
    <complexType>
     <sequence>
      <element name="sendSmsReturn" type="impl:GroupSendResp"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GroupSendResp">
    <sequence>
     <element name="msgId" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="msgId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element name="checkStatusReturn" type="impl:GroupSendResp"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendSmsRequest">
      <wsdl:part element="impl:sendSms" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="checkStatusRequest">
      <wsdl:part element="impl:checkStatus" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="checkStatusResponse">
      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="sendSmsResponse">
      <wsdl:part element="impl:sendSmsResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:portType name="GroupSend">
      <wsdl:operation name="sendSms">
         <wsdl:input message="impl:sendSmsRequest" name="sendSmsRequest"/>
         <wsdl:output message="impl:sendSmsResponse" name="sendSmsResponse"/>
      </wsdl:operation>

      <wsdl:operation name="checkStatus">
         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>
         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="GroupSendSoapBinding" type="impl:GroupSend">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="sendSms">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="sendSmsRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="sendSmsResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="checkStatus">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="checkStatusRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="checkStatusResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="GroupSendService">
      <wsdl:port binding="impl:GroupSendSoapBinding" name="GroupSend">
         <wsdlsoap:address location="http://localhost:8080/GroupSend"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>