ext_smes/smsxsme/soap/subscription.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sibinco.ru/smsxsubscription" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sibinco.ru/smsxsubscription" xmlns:intf="http://sibinco.ru/smsxsubscription" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://sibinco.ru/smsxsubscription" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="checkSubscription">
        <complexType>
          <sequence>
            <element name="msisdn" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="checkSubscriptionResponse">
        <complexType>
          <sequence>
            <element name="checkSubscriptionReturn" type="impl:CheckSubscriptionResp"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="CheckSubscriptionResp">
        <sequence>
          <element name="status" type="xsd:int"/>
          <element name="subscribed" type="xsd:boolean"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>

  <wsdl:message name="checkSubscriptionResponse">
    <wsdl:part element="impl:checkSubscriptionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="checkSubscriptionRequest">
    <wsdl:part element="impl:checkSubscription" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="SmsXSubscription">
    <wsdl:operation name="checkSubscription">
      <wsdl:input message="impl:checkSubscriptionRequest" name="checkSubscriptionRequest"/>
      <wsdl:output message="impl:checkSubscriptionResponse" name="checkSubscriptionResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SmsXSubscriptionSoapBinding" type="impl:SmsXSubscription">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkSubscription">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkSubscriptionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkSubscriptionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SmsXSubscriptionService">
    <wsdl:port binding="impl:SmsXSubscriptionSoapBinding" name="SmsXSubscription">
      <wsdlsoap:address location="http://localhost:8080/SmsXSubscription"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>