docs/MCISme/MissedCalls.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMissedCalls">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMissedCallsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMissedCallsResult" type="tns:ArrayOfMissedCall" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMissedCall">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MissedCall" nillable="true" type="tns:MissedCall" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MissedCall">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MissedCalls" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageStatus" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMissedCallsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMissedCalls" />
  </wsdl:message>
  <wsdl:message name="GetMissedCallsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMissedCallsResponse" />
  </wsdl:message>
  <wsdl:portType name="MissedCallServiceSoap">
    <wsdl:operation name="GetMissedCalls">
      <wsdl:input message="tns:GetMissedCallsSoapIn" />
      <wsdl:output message="tns:GetMissedCallsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MissedCallServiceSoap" type="tns:MissedCallServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissedCalls">
      <soap:operation soapAction="http://tempuri.org/GetMissedCalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MissedCallServiceSoap12" type="tns:MissedCallServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissedCalls">
      <soap12:operation soapAction="http://tempuri.org/GetMissedCalls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissedCallService">
    <wsdl:port name="MissedCallServiceSoap" binding="tns:MissedCallServiceSoap">
      <soap:address location="http://localhost/MissedCalls.wsdl" />
    </wsdl:port>
    <wsdl:port name="MissedCallServiceSoap12" binding="tns:MissedCallServiceSoap12">
      <soap12:address location="http://localhost/MissedCalls.wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>