webapps/smsc/WEB-INF/src/ru/novosoft/smsc/util/smsxsender/SmsXSender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sibinco.ru/smsXSend" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sibinco.ru/smsXSend" xmlns:intf="http://sibinco.ru/smsXSend" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sibinco.ru/smsXSend" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendSms">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
      <element name="Message" type="xsd:string"/>
      <element name="SMSXExpress" type="xsd:boolean"/>
      <element name="SMSXSecret" type="xsd:boolean"/>
      <element name="SMSXCalendar" type="xsd:boolean"/>
      <element name="SMSXCalendarTimeUTC" type="xsd:long"/>
      <element name="SMSXAdvertising" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSmsResponse">
    <complexType>
     <sequence>
      <element name="sendSmsReturn" type="impl:SmsXSenderResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SmsXSenderResponse">
    <sequence>
     <element name="id_message" nillable="true" type="xsd:string"/>
     <element name="smpp_code" type="xsd:int"/>
     <element name="status" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="sendPaidSms">
    <complexType>
     <sequence>
      <element name="SourceAddress" type="xsd:string"/>
      <element name="DestinationAddress" type="xsd:string"/>
      <element name="Message" type="xsd:string"/>
      <element name="SMSXExpress" type="xsd:boolean"/>
      <element name="SMSXSecret" type="xsd:boolean"/>
      <element name="SMSXCalendar" type="xsd:boolean"/>
      <element name="SMSXCalendarTimeUTC" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendPaidSmsResponse">
    <complexType>
     <sequence>
      <element name="sendSmsReturn" type="impl:SmsXSenderResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="SMSXIdMessage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element name="checkStatusReturn" type="impl:SmsXSenderResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="batchSecret">
    <complexType>
     <sequence>
      <element name="SourceAddress" type="xsd:string"/>
      <element name="Message" type="xsd:string"/>
      <element name="SMSXExpress" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="batchSecretResponse">
    <complexType>
     <sequence>
      <element name="batchSecretReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSysSms">
    <complexType>
     <sequence>
      <element name="SourceAddress" type="xsd:string"/>
      <element name="DestinationAddress" type="xsd:string"/>
      <element name="Message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSysSmsResponse">
    <complexType>
     <sequence>
      <element name="sendSysSmsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendSysSmsResponse">

      <wsdl:part element="impl:sendSysSmsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="checkStatusRequest">

      <wsdl:part element="impl:checkStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="batchSecretRequest">

      <wsdl:part element="impl:batchSecret" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="checkStatusResponse">

      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendSysSmsRequest">

      <wsdl:part element="impl:sendSysSms" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendPaidSmsResponse">

      <wsdl:part element="impl:sendPaidSmsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendPaidSmsRequest">

      <wsdl:part element="impl:sendPaidSms" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendSmsResponse">

      <wsdl:part element="impl:sendSmsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="batchSecretResponse">

      <wsdl:part element="impl:batchSecretResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendSmsRequest">

      <wsdl:part element="impl:sendSms" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SmsXSender">

      <wsdl:operation name="sendSms">

         <wsdl:input message="impl:sendSmsRequest" name="sendSmsRequest"/>

         <wsdl:output message="impl:sendSmsResponse" name="sendSmsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendPaidSms">

         <wsdl:input message="impl:sendPaidSmsRequest" name="sendPaidSmsRequest"/>

         <wsdl:output message="impl:sendPaidSmsResponse" name="sendPaidSmsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkStatus">

         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>

         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="batchSecret">

         <wsdl:input message="impl:batchSecretRequest" name="batchSecretRequest"/>

         <wsdl:output message="impl:batchSecretResponse" name="batchSecretResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendSysSms">

         <wsdl:input message="impl:sendSysSmsRequest" name="sendSysSmsRequest"/>

         <wsdl:output message="impl:sendSysSmsResponse" name="sendSysSmsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SmsXSenderSoapBinding" type="impl:SmsXSender">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendSms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendPaidSms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendPaidSmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendPaidSmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="batchSecret">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchSecretRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="batchSecretResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSysSms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSysSmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSysSmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SmsXSenderService">

      <wsdl:port binding="impl:SmsXSenderSoapBinding" name="SmsXSender">

         <wsdlsoap:address location="http://localhost:8080/smsx/services/SmsXSender"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
