config/ClosedGroups.dtd

<!ELEMENT records (lastId, group*)>

<!ELEMENT lastId EMPTY>
<!ATTLIST lastId value CDATA #REQUIRED>

<!ELEMENT group (address | mask)*>
<!ATTLIST group
    name CDATA #REQUIRED 
    id CDATA #REQUIRED>

<!ELEMENT address EMPTY>
<!ATTLIST address value CDATA #REQUIRED>

<!ELEMENT mask EMPTY>
<!ATTLIST mask value CDATA #REQUIRED>
