config/regions.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT regions (region*, region_default)>
<!ELEMENT region (subjects)>
<!ATTLIST region
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	bandwidth CDATA #REQUIRED
        email CDATA #IMPLIED
	timezone CDATA #IMPLIED
>
<!ELEMENT subjects (subject*)>
<!ELEMENT subject EMPTY>
<!ATTLIST subject
	id CDATA #REQUIRED
>

<!ELEMENT region_default EMPTY>
<!ATTLIST region_default
	bandwidth CDATA #REQUIRED
        email CDATA #IMPLIED
	timezone CDATA #IMPLIED
>
