config/SmeRecords.dtd

<!ELEMENT records (smerecord*)>

<!ELEMENT smerecord (param+)>
<!ATTLIST smerecord 
    type (smpp|ss7) #REQUIRED 
    uid CDATA #REQUIRED>

<!ELEMENT param (#PCDATA)>
<!ATTLIST param 
    name (typeOfNumber|numberingPlan|interfaceVersion|systemType|password|addrRange|smeN|wantAlias|timeout|priority) #REQUIRED 
    value CDATA #REQUIRED>
