config/smpp.dtd

<!ELEMENT records (smerecord|smscrecord|param_conf)*>

<!ELEMENT smerecord (param+)>
<!ELEMENT smscrecord (param+)>

<!ELEMENT param (#PCDATA)>
<!ATTLIST param 
name (systemId|password|timeout|mode|enabled|host|port|althost|altport|uid|
      bindSystemId|bindPassword|providerId) #REQUIRED
value CDATA #REQUIRED>

<!ELEMENT param_conf (#PCDATA)>
<!ATTLIST param_conf name CDATA #REQUIRED type (string|int|bool) #IMPLIED>
