config/snmp.dtd

<!ELEMENT config (counterInterval,default,object*) >
<!ELEMENT counterInterval EMPTY>
<!ATTLIST counterInterval value CDATA #REQUIRED>
<!ELEMENT default (counter*)>
<!ELEMENT counter (#PCDATA)>
<!ATTLIST counter name CDATA #REQUIRED>
<!ELEMENT object (counter*)>
<!ATTLIST object id CDATA #REQUIRED enabled (true|false) #REQUIRED>
