config/scag/http_routes.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT routes (subject_def*, route*)>
<!ELEMENT route ((address|subject)*, url)>
<!ATTLIST route
    id CDATA #REQUIRED
    serviceId CDATA #REQUIRED
>
<!ELEMENT address EMPTY>
<!ATTLIST address
    value CDATA #REQUIRED
>
<!ELEMENT url EMPTY>
<!ATTLIST url
    value CDATA #REQUIRED
>

<!ELEMENT subject EMPTY>
<!ATTLIST subject
    id CDATA #REQUIRED
>

<!ELEMENT subject_def (address+)>
<!ATTLIST id
    value CDATA #REQUIRED
>
