config/scag/operators.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT operators (param|operator)*>
<!ELEMENT param (#PCDATA)>
<!ATTLIST param
    name CDATA #REQUIRED
    type (string | int | bool) #IMPLIED>
<!ELEMENT operator (name|description|masks)*>
<!ATTLIST operator
    id CDATA #REQUIRED>
<!ELEMENT masks (mask)*>
<!ELEMENT mask (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>