config/templates/scag/rules/xsd/bill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.sibinco.com/SCAG/BILL" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:bill="http://www.sibinco.com/SCAG/BILL"
    elementFormDefault="qualified">

    <group name="Actions">
        <choice>
            <element name="open"></element>
	    <element name="commit"></element>
        </choice>    
    </group>
    
</schema>