webapps/informer/regions.dtd

<!ELEMENT regions (region*, region_default)>
<!ELEMENT region (mask*)>
<!ATTLIST region
        id CDATA #REQUIRED
        name CDATA #REQUIRED
        timezone CDATA #REQUIRED
        infosme_smsc CDATA #REQUIRED
        bandwidth (int) #REQUIRED
>
<!ELEMENT mask EMPTY>
<!ATTLIST mask
        value CDATA #REQUIRED
>
<!ELEMENT region_default EMPTY>
<!ATTLIST region_default
        bandwidth (int) #REQUIRED
>
