webapps/informer/regions.dtd

<!ELEMENT regions (region*)>
<!ELEMENT region (mask*)>
<!ATTLIST region
        id CDATA #REQUIRED
        name CDATA #REQUIRED
        timezone CDATA #REQUIRED
        infosme_smsc CDATA #REQUIRED
        max_per_second (int) #REQUIRED
>
<!ELEMENT mask EMPTY>
<!ATTLIST mask
        value CDATA #REQUIRED
>

